        
.about-text {
  max-width: 50%;
  margin-top: 0px;
  text-align: center;
}
.about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
}

.styled-li {
  font-size: 14px;
  text-align: start;
  padding-bottom: 10px;
  color: #555;
}
.about-images, .about-text{
  max-width: 50%;
}
/* Default styles for images */
.about-img1 {
  width: 100%;
  max-width: 390px;
  height: auto;
  border-radius: 10px;
}

.about-img2 {
  width: 100%;
  max-width: 229px;
  height: auto;
  border-radius: 10px;
  margin-left:-140px
}



 /* ExtraSmall devices (xs: screens < 639px) */
@media (max-width: 639px) {


  .about-text {
    max-width: 100%;
    margin-top: 10px;
  }
  .hero-images {
    margin-top: 40px;
  }
  .about-img1 {
    width: 100%;
    max-width: 197px;
  }
  .about-img2 {
    width: 100%;
    max-width: 142px;
    margin-right: -30px;
  }

  .about-text{
    text-align: center;
  }
  
  .about-images{
    max-width: 50%;
  }
  .about-text {
    max-width: 50%;
  }
  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .styled-li {
    margin-top: 20px};
}

/* Small devices (sm: screens < 768px) */
@media (max-width: 767px) {
  .about-text {
    text-align: center;
    max-width: 100%;
    margin-bottom: 30px;
  }
  

  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .styled-li {
    margin-top: 20px};

}

/* Medium devices (md: screens 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {

  .about-text {

    text-align: center;
    max-width: 100%;
  }
  
  .about-text button{
    font-size: 12px;
  }
  .about-img1 {
    width: 100%;
    max-width: 297px;
  }
  .about-img2 {
    width: 100%;
    max-width: 202px;
    margin-right: -30px;
  }
  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .styled-li {
    margin-top: 20px};

}

/* Large devices (lg: screens >= 992px) */
@media (min-width: 992px) {
  .about-text {

    text-align: start;
    max-width: 50%;
    display: flex;
    align-items: start;
  }
  .about-section {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
  .about-images {
    max-width: 50%;
  }
  .about-img1 {
    width: 100%;
    max-width: 390px;
    height: auto;
    border-radius: 10px;
  }
  .about-img2 {
    width: 100%;
    max-width: 189px;
    height: auto;
    border-radius: 10px;
    margin-left:-140px
  }
  .about-text button{
    margin-top: 20px;
  }


}

@media (min-width: 1400px) {
  .about-img1 {
    width: 100%;
    max-width: 390px;
    height: auto;
    border-radius: 10px;
  }
}