:root {
  --main-color: #445164;
  --secondary-color: #f1654c;
  --secondary-bg:#f5f6f7;
  --border-color:#EAECF0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red {
  color: #f1654c;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
  word-spacing: 3px;
  line-height: 1.5;
  max-width: 1920px;
}
/* in tailwind classes 'flex items-center justofy-between' what are the propertises in raw css which will do exact same thing? */

nav {
  background-color: white;
  overflow: hidden;
  color: var(--main-color);
}

.container {
  max-width: 1320px;
  overflow-x: hidden;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.header-text, .grid-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-text h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
}
.header-text h1 span {
  color: #f1654c;
}
.header-text p {
  font-size: 14px;
  color: #555;
  margin: 5px 0 30px 0;
}


.btn,
.custom-button,
.hero-button {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color:  #ff4b4b;
}

.hero-button {
  background-color: var(--secondary-color);
  padding: 10px 17px;
}

.hero-button:hover {
  background-color:  #ff4b4b;
}
/* ExtraSmall devices (xs: screens < 639px) */
@media (max-width: 639px) {
  .container {
    width: 90%;
  }
  .header-text {
    text-align: center;
  }
  .header-text h1 {
    font-size: 25px;
  }
  .header-text p {
    font-size: 14px;
    margin-top: 15px;
  }
}

/* Small devices (sm: screens < 768px) */
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
  .header-text h1 {
    font-size: 27px;
  }
  .header-text p {
    font-size: 14px;
    margin-top: 15px;
  }
}

/* Medium devices (md: screens 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%;
  }
  .header-text {
    text-align: center;
    max-width: 100%;
  }
  .header-text h1 {
    font-size: 20px;
  }
  .header-text p {
    font-size: 14px;
    margin-top: 15px;
  }
}

/* Large devices (lg: screens >= 992px) */
@media (min-width: 992px) {
  .container {
    width: 90%;
  }
  .header-text p {
    font-size: 16px;
    margin-top: 15px;
  }
  .hero-button {
    font-size: medium;
  }
}

/* Styles for extra-large screens go here */

@media (min-width: 1280px) {
  .container {
    width: 80%;
  }
}



.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.start {
  display: flex;
  align-items: flex-start;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-start {
  align-items: flex-start;
}



.custom-button {
  width: 111px;
  height: 56px;
  border-radius: 8px;
  padding: 0 32px;
  gap: 12px;
  background-color: #f2664e;
}

.custom-button:hover {
  background-color: #d2553e;
}
#shadow-host-companion {
  display: none;
}
